
.site-header {
background-color: #edf1e2;
height: 20vh; 
}

.top-page-header {
  width: 100%; /* ヘッダーの幅を調整 */
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ロゴのスタイル */
.logo-icon {
    max-height: 150px; /* ロゴの最大高さを設定 */
    max-width: 200px; /* ロゴの最大幅を設定 */
  }

.search-form {
  width: 65vw;
  height: 5vh;

}

.input-box {
  width: 60%;
  height: 100%; /* 検索ボックスの縦幅を100%に設定 */
  padding-left: 10px;
}


.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  height: 5vh; /* search-form と同じ高さに設定 */
  padding: 8px;
}

.search-icon {
  height: 5vh; 
  width: 5vh; 
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between; /* 左右に均等に配置 */
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  margin-left: auto; /* 右側に寄せる */
  align-items: center; /* 必要に応じて垂直方向に中央寄せ */
}
.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}