
<div class='footer'>
  <div class='footer-contents'>
  </div>
  <%= image_tag("aim_activites.png", class:"logo-white") %>
  <p> ©You Don't Know China</p>
  <%= image_tag("logo-color.png", class:"second-footer-logo") %>
</div>