
<%= render "shared/header" %>
<div class='main'>

<%# ホームページ上部の「中国地図」部分 %>
 <div class='title-contents'>
    <h2 class='service-title'>
      中国なんて行けましょ
    </h2>
    <p class='service-explain'>
      Don't fear the unknown
    </p>
    <p class='service-explain'>
      日本最大中国旅行サイト
    </p>
  </div>

<%# ホームページ上部の「中国地図」部分 %>