<%= form_with(model: @nature, local: true) do |form| %>
  <div class="form-group">
    <label for="nature_title">タイトル:</label>
    <%= form.text_field :title, class: "form-control", id: "nature_title", required: true %>
  </div>

  <div class="form-group">
  <label for="nature_details">本文:</label>
  <textarea class="form-control" id="nature_details" name="nature[details]" rows="4" required></textarea>
  </div>

  <div class="form-group">
    <label for="nature_image">画像:</label>
    <%= form.file_field :image, class: "form-control-file", id: "nature_image", accept: "image/*", required: true %>
  </div>

  <button type="submit" class="btn btn-primary">投稿する</button>
<% end %>