

  <div class="nature-form-group">
    <label for="nature_title">タイトル:</label>
    <input type="text" class="form-control" id="nature_title" name="nature[title]" required>
  </div>

  <div class="form-group">
    <label for="nature_description">本文:</label>
    <textarea class="form-control" id="nature_description" name="nature[description]" rows="4" required></textarea>
  </div>

  <div class="form-group">
    <label for="nature_image">画像:</label>
    <input type="file" class="form-control-file" id="nature_image" name="nature[image]" accept="image/*" required>
  </div>

  <button type="submit" class="btn btn-primary">投稿する</button>
</form>
