// Place all the styles related to the natures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 自然美鑑賞の目的地リストのスタイル */

/* 目的地リスト全体 */

.nature-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  background-image: url('/assets/nature_header.png'); /* 画像のパスを指定 */
  background-size: contain; /* 画像を要素に合わせて拡大縮小 */
  background-repeat: no-repeat; /* 画像の繰り返しを無効に */
  background-position: top center;
  position: absolute;
}


.nature-contents>.title {
  font-size: 100vh;
  line-height: 1.4;
  font-weight: bold;
 
}

.nature-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

/* 目的地リスト */
.nature_lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nature-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.nature-img-content {
  position: relative;
}


.nature-img {
  width: 33vh;
  height: 33vh;
  position: relative;
}


.nature-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

/* アイテム名 */
.nature-name {
  font-size: 2.5vh;
}



.nature-btn {
  display: flex;
  align-items: center;
  margin-left: 60vw;
}

.nature-icon {
  height: 25vh;
  width: 25vh;
  margin-right: 0.5vw;
}

